{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Connect Monzo{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {{ content }}
            <a href="{{ url('monzo_accounts') }}">View accounts</a>
        </div>
    </div>
{% endblock %}